* {
  font-family: inter;
}

.container {
  width: 77%;
  margin: 0 auto;
}

#header {
  padding: 50px 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1180px;
}
.header img {
  width: 130px;
}
.cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 160px;
}

.admin-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.card {
}
.card img {
  width: 280px;
  height: 260px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}
.product-title {
  margin: 14px 0;
  font-size: 16px;
  font-family: sans-serif;
  color: #42474c;
}
.product-price {
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #42474c;
  margin-bottom: 30px;
}
.card-options {
  display: flex;
  justify-content: space-between;
}
.card .btns {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.registration h1 {
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-left: 10px;
}
.registration .inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding-bottom: 200px;
}
.registration .inputs .btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
}
.registration .forgotPassword {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 270px;
  margin-top: 10px;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.authentication h1 {
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-left: 10px;
}
.authentication .inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding-bottom: 200px;
}
.authentication .inputs .btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
}
.authentication .forgotPassword {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 270px;
  margin-top: 10px;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1090px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-cards img {
  width: 160px;
}
.footer-bar {
}
.footer-bar p {
  font-size: 18px;
  margin: 7px 0;
  cursor: pointer;
  color: #121212bf;
}

.about-us h1 {
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-left: 10px;
}
.about-us p {
  color: #121212bf;
  font-size: 18px;
  text-align: center;
  width: 846px;
  line-height: 29px;
  margin-left: 148px;
  margin-top: 46px;
}







.name{
  width: 340px;
  height: 43px;
  border-radius:6px ;
  border: 1px solid;
}
.name::placeholder{
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 17px;
  padding-left: 16px;
}
.name:hover{
  border: 2px solid black;
}
.email{
  width: 349px;
  height: 43px;
  margin-left: 30px;
  border-radius:6px ;
  border: 1px solid;
}
.email::placeholder{
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 17px;
  padding-left: 16px;
}
.email:hover{
  border: 2px solid black;
}

.number{
  width: 725px;
  height: 43px;
  border-radius:6px ;
  border: 1px solid;
  margin-top: 21px;
  }
  .number::placeholder{
      display: flex;
      justify-content: start;
      align-items: center;
      font-size: 17px;
      padding-left: 16px;
  }
  .number:hover{
      border: 3px solid black;
  }
  .comment{
      width: 725px;
  height: 97px;
  border-radius:6px ;
  border: 1px solid;
  margin-top: 21px;
  }
  .comment::placeholder{
  position: absolute;
  top: 10px;
  font-size: 17px;
  padding-left: 16px;
  }
  .comment:hover{
      border: 3px solid black;
  }
  .send-contact{
      margin-top: 40px;
      width: 107px;
      height: 44px;
      background-color: #FCE477;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 0.9px;
      cursor: pointer;
  }
  